---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="content">
    <h1 class="title">About Tools Provider</h1>
    <p class="text-class">
      This website, created with passion by <a
        class="link"
        href="https://github.com/adriangolmayo">Adriangolmayo</a
      >, gathers a set of tools for programmers and developers. You can find
      tools organized by categories, and you can also search for them using the
      search bar at the top. If you find this site useful, please share it with
      your friends and fellow programmers—I would really appreciate it. If you
      have any questions or suggestions, feel free to contact me at
      adriangolmayo100@gmail.com. This website is open-source and free to use.
    </p>
    <h2 class="title">Technologies</h2>
    <p class="text-class">
      Tools Provider is built with Astro, using native HTML, CSS, and
      TypeScript. Most of the components are created without external libraries
      because, personally, I wanted to focus on learning the basics of HTML and
      CSS.
    </p>
    <h2 class="title">Are there bugs or improvements in the code?</h2>
    <p class="text-class">
      If you detect a bug or potencial improvement, you are welcome to submite a
      new feature proposal or bug report in the <a
        class="link"
        href="https://github.com/adriangolmayo/tools-provider/issues/new/choose"
      >
        issues section</a
      > in the GitHub repository.
    </p>
  </div>
</BaseLayout>
