---
import Header from '../components/header/Header.astro';
import SideMenu from '../components/side-menu/SideMenu.astro';
import '../styles/global.css';
---

<!-- DOCTYLPE html-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programmer Tools</title>
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <SideMenu />
    <div>
      <Header />
      <slot />
    </div>
  </body>
</html>
